@model DevelopersApplication.Models.ProgrammingLanguageDto

@{
    ViewBag.Title = "Edit";
}
<link rel="stylesheet" type="text/css" href="~/Content/pl.css" />
<div class="container-fluid">
    <div class="floatleft">
        <a class="backbtn" href="/ProgrammingLanguage/List">Back</a>
    </div>
    <h2>Update Programming Language</h2>
    <div class="form-container">
        <form action="/ProgrammingLanguage/Update/@Model.LanguageId" method="POST">
            <div style="display:none;">
                @* Pass through the LanguageId *@
                <input type="text" name="LanguageId" value="@Model.LanguageId" />
            </div>
            <div class="formgroup">
                <label class="label" for="Language">Language</label>
                <input type="text" name="Language" class="formcontrol" />
            </div>
            <div class="formgroup">
                <label class="label" for="LanguageInfo">Language Info</label>
                <input type="text" name="LanguageInfo" class="formcontrol"/>
            </div>
            <div class="formgroup">
                <label class="label" for="IDEUsed">IDE Used</label>
                <input type="text" name="IDEUsed" class="formcontrol"/>
            </div>
            <div>
                <input class="btn" type="submit" value="Update Language" />

            </div>
        </form>
    </div>
</div>