@model IEnumerable<DevelopersApplication.Models.ProgrammingLanguageDto>
@{
    ViewBag.Title = "List";
}
<link rel="stylesheet" type="text/css" href="~/Content/pl.css" />
<div class="container-fluid">
    <h2>Programming Languages</h2>
    <div class="plcontainer">

        @foreach (var programminglanguage in Model)
        {
            <h3 class="list"> <a href="/ProgrammingLanguage/Details/@programminglanguage.LanguageId">@programminglanguage.Language</a> </h3>
        }
        <a class="btn" href="/ProgrammingLanguage/New">Add Programming Language</a>
    </div>
</div>

