@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" type="text/css" href="~/Content/main.css"/>
<div class="container-fluid">
    <div class="mainimg">
        <img src="~/Images/main-img.jpg" alt="An image of programming on a computer" />
    </div>
    <h1>Computer Programming</h1>
    <p class="bannercontent1">Interested in Coding...</p>
    <p class="bannercontent2">   Learn More....</p>
    <!--<div class="register">
        <a class="registerbtn" href="/Coder/New">Register as a Coder</a>
    </div>-->
    <section class="description">
        <p>
            A computer programmer, sometimes called a software developer, a programmer or more recently a
            coder (especially in more informal contexts), is a person who creates computer software.
            The term computer programmer can refer to a specialist in one area of computers,
            or to a generalist who writes code for many kinds of software.
            A programmer's most often-used computer language (e.g., Assembly, COBOL, C, C++, C#, JavaScript, Lisp, Python, Java)
            may be prefixed to the term programmer. Some who work with web programming languages also prefix their titles with web.
        </p>
        <p>
            It is a well sought career throughout the world and also it is fun to develop and design the programms that can be enjoyed by
            all the people including kids and elders in this digital world.
        </p>
    </section>
    <div class="flexcontainer">
        <p class="coder">Want to know more about Expert Coders! <br/><br /> <a class="ghost-button" href="~/Coder/List">press Me!</a> </p>
        <p class="pl">Did you know there are around 700 different programming languages?If you ever need a coding rabbit hole to dive down,<br/><br/> <a class="ghost-button" href="~/ProgrammingLanguage/List">here you go.</a> </p>
        <p class="career">Passionate About Coding!! Make it a <br/><br/> <a class="ghost-button" href="~/Career/List">Career...</a></p>
    </div>
</div>
