@model IEnumerable<DevelopersApplication.Models.CareerDto>

@{
    ViewBag.Title = "New";
}
<link rel="stylesheet" type="text/css" href="~/Content/coder.css" />
<div class="container-fluid">
    <div class="form-container">
        <h2>Create Coder</h2>
        <form action="/Coder/Create" method="POST" name="createcoder" enctype="multipart/form-data">
            <div class="formgroup">
                <label class="label" for="Name">Name</label>
                <input type="text" name="Name" class="formcontrol" />
            </div>
            <div class="formgroup">
                <label class="label" for="Bio">Bio</label>
                <input type="text" name="Bio" class="formcontrol"></input>
            </div>
            <div class="formgroup">
                <label class="label" for="Company">Company</label>
                <input type="text" name="Company" class="formcontrol" />
            </div>
            <div class="formgroup">
                <label class="label" for="Career">Career</label>
                <select name="CareerId">
                    @foreach (var careers in Model)
                    {
                        <option value="@careers.CareerId">@careers.CareerName</option>

                    }
                </select>
            </div>
            <div>
                <input class="update-btn" type="submit" name="submit" value="Add Coder" />
            </div>

        </form>
    </div>
</div>

