@model IEnumerable<DevelopersApplication.Models.CareerDto>

@{
    ViewBag.Title = "List";
}
<link rel="stylesheet" type="text/css" href="~/Content/career.css" />
<div class="container-fluid">
    <h2>Careers</h2>
    <div class="careercontainer">

        @foreach (var career in Model)
        {
            <h3> <a class="list" href="/Career/Details/@career.CareerId">@career.CareerName </a> </h3>
        }
    </div>
    <a class="btn" href="/Career/New"> Add a Career </a>
</div>

