
@{
    ViewBag.Title = "New";
}
<link rel="stylesheet" type="text/css" href="~/Content/career.css" />
<div class="container-fluid">
    <div class="floatleft">
        <a class="backbtn" href="/Career/List">Back</a>
    </div>
    <h2>Create Career </h2>
    <div class="form-container">
        <form action="/Career/Create" method="POST" name="createcareer">
            <div class="formgroup">
                <label class="label" for="CareerName">Career Name</label>
                <input type="text" name="CareerName" class="formcontrol" />
            </div>
            <div class="formgroup">
                <label class="label" for="CareerDesc">Career Description</label>
                <input type="text" name="CareerDesc" class="formcontrol"/>
            </div>
            <div>
                <input class="btn" type="submit" name="submit" value="Add Career" />
            </div>

        </form>

    </div>
</div>